@{
    ViewData["Title"] = "Deneme2";
    Layout ="_Layout";
}
@* @section Menu{
    <li class="nav-item">
        <a class="nav-link text-muted" href="/Home/UrunListesi">Ürün Listesi Git</a>
    </li>
} *@
<h1>Deneme Sayfası</h1>

<button id="hide">Gizle</button>
<button id="show">Göster</button>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis excepturi hic quia perferendis eos eaque quod et, vitae, aperiam perspiciatis, aliquam quasi natus aut necessitatibus cum fugiat. Eligendi, incidunt illo!</p>
<partial name="_DenemePartial" />
@section Scripts{
    <script src="~/js/deneme2.js"></script>
}
